<section role="table" class="responsive-table" class="screen-table">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- ActionArName Column -->
    <ng-container matColumnDef="actionArName">
      <th mat-header-cell *matHeaderCellDef> إسم الإجراء </th>
      <td mat-cell *matCellDef="let row"> {{row.actionArName}} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> المعرف </th>
      <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6" style="text-align: center;">لا يوجد نتائج للبيانات.</td>
    </tr>
  </table>
</section>