<h3 mat-dialog-title *ngIf="partyTypeId">
  تعديل
</h3>
<h3 mat-dialog-title *ngIf="!partyTypeId">
  إضافة
</h3>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
      <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="اسم نوع الخصم" autocomplete="off" />
          <mat-error *ngIf="form.controls['name'].hasError('required')"> اسم نوع الخصم مطلوب</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!form.valid || form.pristine" (click)="onSubmit()">
    <span *ngIf="!partyTypeId">إضافة</span>
    <span *ngIf="partyTypeId"> تعديل</span>
  </button>
  <button type="button" mat-raised-button (click)="onCancel()">
    إلغاء
  </button>
</div>
