<div fxLayout="row wrap" class="screen">
    <div fxFlex.gt-sm="100" fxFlex="100" style="margin-bottom: 1em;">
        <mat-card *ngIf="requestFull">
            <mat-card-content>
                <app-request-details [request]='requestFull.request'></app-request-details>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <section class="screen">
                    <form (submit)="onSubmit()" [formGroup]="form">

                        <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <mat-select formControlName="consigneeDepartmentId"
                                        placeholder="الإدارة المقدم اليها الطلب">
                                        <mat-option value="">--اختر--</mat-option>
                                        <mat-option *ngFor="let item of ministryDepartments" [value]="item.id">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.controls['consigneeDepartmentId'].hasError('required')">
                                        الإدارة المقدم إليها الطلب مطلوبة
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                                <span class="section-head">المستندات</span>
                                <span style="color: red;font-size: 1.4em;">*</span>
                                <button type="button" mat-raised-button color="primary" class="float-left"
                                    (click)="openDialog(null,-1)">
                                    إضافة
                                </button>

                                <div class="responsive-table screen-table">
                                    <table mat-table [(dataSource)]="documentRequestItems" multiTemplateDataRows>
                                        <ng-container matColumnDef="position">
                                            <th mat-header-cell *matHeaderCellDef style="width:4rem;">#</th>
                                            <td mat-cell *matCellDef="let element; let i = dataIndex">
                                                {{(i + 1)}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef>اسم المستند</th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.name }}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let element ; let i = dataIndex"
                                                style="text-align: center">
                                                <tr>
                                                    <td>
                                                        <button type="button" mat-raised-button
                                                            (click)="openDialog(element.name,i)">
                                                            <mat-icon class="material-icons"
                                                                style="color: green;cursor:pointer;">edit</mat-icon>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button type="button" mat-raised-button
                                                            (click)="deleteDocument(i)">
                                                            <mat-icon class="material-icons"
                                                                style="color: red;cursor:pointer;">delete</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </td>

                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                        <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="3" style="text-align: center;">لم يتم إضافة
                                                المستندات المطلوبة</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
 <!-- <strong>نص الطلب</strong> -->
                                    <!-- <ckeditor formControlName="note" [editor]="Editor" maxlength="400" [config]="config">
                                 </ckeditor> -->
                        <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                        <!--     <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                                <mat-form-field>

                                    <textarea matInput formControlName="note" [value]="form.controls['note'].value | replaceLineBreaks" placeholder="نص الطلب" rows="3"
                                        maxlength="400" required lettersOnly></textarea>
                                    <mat-hint>عدد الاحرف يجب ان لا يزيد عن 400 حرف</mat-hint>
                                    <mat-error
                                        *ngIf="form.controls['note'].hasError('required') && form.controls['note'].touched"
                                        class="text-danger "> الرجاء ادخال نص الطلب</mat-error>
                                    <mat-error *ngIf="form.controls['note'].hasError('maxlength')" class="text-danger ">
                                        يجب
                                        الا
                                        يزيد نص الطلب عن 400 حرف</mat-error>
                                </mat-form-field>
                            </div>-->

                            <section class="screen-actions">
                                <div class="button-row">
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!form.valid || documentRequest?.documents?.length == 0">
                                        <span>التإلى</span>
                                    </button>
                                    <button mat-raised-button type="button" [routerLink]="['/requests']">
                                        إلغاء
                                    </button>
                                </div>
                            </section>
                        </div>

                    </form>
                </section>
                <section  *ngIf="isNext"  >
                    <form (submit)="onRequestLetterSubmit()" [formGroup]="requestLetterform">

                        <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <mat-select formControlName="letterId"
                                        placeholder="النماذج" (selectionChange)="getContent($event.value)">
                                        <mat-option value="">--اختر--</mat-option>
                                        <mat-option *ngFor="let item of letterTemplates" [value]="item.id">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="requestLetterform.controls['letterId'].hasError('required')">
                                        النماذج مطلوبة
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                                  <ckeditor formControlName="text" [editor]="Editor" maxlength="400" [config]="config">
                                 </ckeditor>
                            </div>
                            <section class="screen-actions">
                                <div class="button-row">
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!requestLetterform.valid">
                                        <span>حفظ</span>
                                    </button>
                                    <button mat-raised-button type="button" [routerLink]="['/requests']">
                                        إلغاء
                                    </button>
                                </div>
                            </section>
                        </div>
                        </form>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
</div>
