<h3 mat-dialog-title>
  اختيار مستشار
</h3>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
      <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
        <mat-form-field>
          <input placeholder="اسم المستشار" matInput formControlName="consultant" [matAutocomplete]="auto"
            (keyup)="filterConsultants()">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option value="">لا يوجد</mat-option>
            <mat-option *ngFor="let consultant of filteredConsultants" [value]="consultant">
              {{consultant.firstName}} {{consultant.lastName}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="form.controls['consultant'].hasError('required')">
            اسم المستشار مطلوب
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()" type="submit"
    *ngIf="!researcherDetails?.consultantId ">
    <span>إضافة</span>
  </button>
  <button mat-raised-button *ngIf="researcherDetails?.consultantId" [disabled]="!form.valid" color="primary"
    (click)="checkSubmit()" type="submit">
    <span> تأكيد</span>
  </button>
  <button type="button" mat-raised-button (click)="onCancel()">
    إلغاء
  </button>
</div>
