<mat-card>
  <mat-card-content>
    <mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper="matHorizontalStepper">
      <mat-step [completed]="false" [editable]="false" label="إعداد الطلب" state="basic">
        <section class="screen">
          <section class="screen-content">
            <form [formGroup]="form">

              <div *ngIf="requestId" fxLayout="row wrap" fxFlexAlign="center" class="entity-details p-10">
                <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100">
                  <span>رقم الطلب</span>
                  <span>{{requestId}}</span>
                </div>
                <div fxLayout="column" fxFlex="50">
                  <span>تاريخ تقديم الطلب</span>
                  <span>
                    {{createdOn | date : "yyyy-MM-dd" }}
                    {{createdOn |arDayOfWeek }}
                    {{createdOnHigri}}
                  </span>
                </div>
              </div>

              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <mat-select formControlName="consigneeDepartmentId" placeholder="الإدارة المقدم اليها الطلب">
                      <mat-option value="">--اختر--</mat-option>
                      <mat-option *ngFor="let item of ministryDepartments" [value]="item.id">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['consigneeDepartmentId'].hasError('required')">
                      الإدارة المقدم إليها الطلب مطلوبة
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <span class="section-head">المستندات</span>
                  <span style="color: red;font-size: 1.4em;">*</span>
                  <button type="button" mat-raised-button color="primary" class="float-left"
                    (click)="openDialog(null,-1)">
                    إضافة
                  </button>

                  <div class="responsive-table screen-table">
                    <table mat-table [(dataSource)]="documentRequestItems" multiTemplateDataRows>
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef style="width:4rem;">#</th>
                        <td mat-cell *matCellDef="let element; let i = dataIndex">
                          {{(i + 1)}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>اسم المستند</th>
                        <td mat-cell *matCellDef="let element">
                          {{element.name }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element ; let i = dataIndex">
                          <button mat-icon-button (click)="openDialog(element.name, i)" color="primary">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button (click)="deleteDocument(i)" color="warn">
                            <mat-icon>clear</mat-icon>
                          </button>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                      <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="3" style="text-align: center;">لم يتم إضافة
                          المستندات المطلوبة</td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </form>
          </section>

          <section class="screen-actions">
            <div class="button-row">
              <button mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="!form.valid || documentRequest?.documents?.length == 0">
                حفظ واستكمال
              </button>
              <button mat-raised-button type="button" [routerLink]="['/requests']">
                إلغاء
              </button>
            </div>
          </section>
        </section>
      </mat-step>
      <mat-step label="اختيار النموذج" state="basic">
        <section class="screen" *ngIf="isNext">
          <section class="screen-content">
            <form [formGroup]="requestLetterform">
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxLayout="row" fxLayoutWrap>
                  <div *ngFor="let item of letterTemplates" class="card">
                    <img mat-card-image (click)="openImageDialog(item.name, baseUrl + item.thumbnail)" class="letterimg"
                      src="{{baseUrl + item.thumbnail}}">
                    <div>
                      <a class="m-5">{{ item.name }}</a>
                      <button mat-button type="button" color="primary" (click)="getContent(item.id)" class="m-5">
                        اختر
                      </button>
                    </div>
                  </div>
                </div>

                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <ckeditor id="customEditor" formControlName="text" [editor]="Editor" style="height: 400px;"
                    maxlength="2000" [config]="config">
                  </ckeditor>
                </div>
              </div>
            </form>
          </section>

          <section class="screen-actions">
            <button mat-raised-button color="primary" type="button" (click)="onRequestLetterSubmit()"
              [disabled]="!requestLetterform.valid">
              حفظ
            </button>

            <button mat-raised-button color="primary" type="button"
              *ngIf="documentRequest?.request?.requestStatus == RequestStatus.Draft || documentRequest?.request?.requestStatus == RequestStatus.Returned"
              (click)="raiseConsultant()" [disabled]="!requestLetterform.valid">
              حفظ ورفع للمستشار
            </button>

            <!-- <button mat-raised-button color="primary" type="button"
              *ngIf="documentRequest?.request?.requestStatus == RequestStatus.Returned"
              (click)="onRequestLetterSubmit(RequestStatus.Modified)" [disabled]="!requestLetterform.valid">
              حفظ ورفع للمستشار
            </button>
            <button mat-raised-button color="primary" type="button"
              *ngIf="documentRequest?.request?.requestStatus == RequestStatus.Draft"
              (click)="onRequestLetterSubmit(RequestStatus.New)"
              [disabled]="!requestLetterform.valid || !requestLetterform.value?.letterId">
              حفظ ورفع للمستشار
            </button> -->
            <button mat-raised-button type="button" [routerLink]="['/requests']">
              إلغاء
            </button>
          </section>
        </section>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>