.responsive-table.screen-table
{

    border-top: 0px;
}
h3{
    margin: 0px;
    margin-top: .3em;
}
.responsive-table.screen-table table {
    margin: 0px;
}
.screen .screen-table .mat-table {
    border-bottom: 0px;
    padding: 0;

}
.screen .screen-table{
    border-bottom: 0px;
}
