<mat-card>
  <mat-card-content>
    <section class="screen">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start start" class="p-10">
        <h1>مرحبًا بك في نظام مرافعة</h1>
        <p>يقوم نظام مرافعة بتقديم خدمات قانونية من خلال الاستشارات القانونية، ونشر الوعي والثقافة القانونية، والتحقق من إجراءات سير أعمال الوزارة وفقًا للأنظمة واللوائح والقرارات المعمول بها بما يرتقي بأدائها نحو مزيد من الجودة والانضباط.
        </p>
      </div>

      <div fxLayout="column" class="p-10">
        <h2>الإدارات التابعة</h2>
        <div fxLayout="row wrap">

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة الاستشارات والدراسات القانونية</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة العقود والاتفاقيات</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة الترافع</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة الشؤون الإدارية</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة اللوائح والأنظمة والقرارات</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة التظلمات والتسويات القانونية</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة حقوق الإنسان</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة التحقيقات</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>إدارة دراسة التحقيقات</span>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="33" class="m-b-30">
            <mat-icon>verified</mat-icon> <span>وحدة قضايا شاغلي الوظائف التعليمية</span>
          </div>

        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
