<fieldset>
  <section>
    <div fxLayout="row wrap" fxFlexAlign="center" class="row" style="background-color: #F8F8F8;">
      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
          (onFileDropped)="changeAttachment($event)" matTooltip="امتدادات الملفات المطلوبة هى
          (svg)
          و حجم الملف لا يتعدى 1024 MB">
          <input id="file-input" style="visibility: hidden;position: absolute;" accept=".svg" type="file"
            (change)="changeAttachment()" #fileInput />
          <p>اضغط لرفع صورة التوقيع أو اسحب وادرج الصورة</p>
        </div>
        <div fxFlex="100" class="p-10 danger" style="color: red;" *ngIf="FileTypeOrSizeError"> امتدادات الملفات
          المطلوبة هى
          <span *ngFor="let accepted of AcceptedFiletypes">{{accepted}}, </span>
          و حجم الملف لا يتعدى {{MaxBytes}}
        </div>
      </div>
      <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
        <div class="imagecontainer" style="position: relative;" id="preview">

          <img *ngIf="signatureImage" class="preview-image" [src]="signatureImage"
            onError="this.src='../../../../../assets/images/empty.png';">
          <a>
            <span *ngIf="signatureImage" class="delete-image" (click)="onDeletePhoto()">
              <mat-icon style="color: red; font-size:xx-large;">delete</mat-icon>
            </span>
          </a>
        </div>
      </div>

    </div>
  </section>
</fieldset>
