@import 'fonts';
// color variable
$color1:#f3f4f8;
$color2:#009081;
$color3:#f52525;
$color4:#f6b34f;
$color5:#606060;
$color6: #009182;
$color7: #F7B350;
$color8: #000000;
$color9: #efefef;
$color10 : #fff;
$color-farid: #08B0A1;

$themecolor:$color2;
$themecolor-alt:$color4;
$sidebar-text:$color10;

$border-color1: #EBEDF2;

$background-color1: #F9F9F9;
