<div mat-dialog-content>
    <div fxLayout="row wrap" fxFlexAlign="center" class="row">
        <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
            <h3>صيغة الطلب الحالية</h3>
            <app-document-request-details
                *ngIf="currentRequest && (currentRequest.request.requestType.id==RequestTypes.RequestSupportingDocuments||currentRequest.request.requestType.id==RequestTypes.RequestAttachedLetter)"
                [request]='currentRequest' [readOnly]="true">
            </app-document-request-details>


            <app-export-case-judgment-request-details
                *ngIf="currentRequest && (currentRequest.request.requestType.id==RequestTypes.RequestExportCaseJudgment)"
                [request]='currentRequest' [readOnly]="true">
            </app-export-case-judgment-request-details>



        </div>
        <div fxFlex.gt-sm="50" fxFlex="100" class="p-10" style="border-right: 3px solid rgb(30, 136, 229);">
            <h3>صيغة الطلب السابقة</h3>
            <app-document-request-details
                *ngIf="requestHistory && (requestHistory.request.requestType.id==RequestTypes.RequestSupportingDocuments||requestHistory.request.requestType.id==RequestTypes.RequestAttachedLetter)"
                [request]='requestHistory' [readOnly]="true">
            </app-document-request-details>

            <app-export-case-judgment-request-details
                *ngIf="requestHistory && (requestHistory.request.requestType.id==RequestTypes.RequestExportCaseJudgment)"
                [request]='requestHistory' [readOnly]="true">
            </app-export-case-judgment-request-details>
        </div>
    </div>
</div>
<section class="screen-actions">
    <div class="button-row">
        <button mat-raised-button type="button" color="primary" (click)="onCancel()">إغلاق</button>
    </div>
</section>