<h3 mat-dialog-title class="modal-title float-right">
 الموافقة على طلب تغيير باحث
</h3>


<form (submit)="onSubmit()" [formGroup]="form">
  <div mat-card-content>
    <mat-form-field>
      <mat-select matInput formControlName="newResearcherId" placeholder="الباحث">
        <mat-option value="">--اختر--</mat-option>
        <mat-option *ngFor="let researcher of researchers" [value]="researcher.id">
          {{ researcher.name }}</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="form.controls['researcherId'].hasError('required')"> الباحث مطلوب</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="replyNote" [value]="form.controls['replyNote'].value | replaceLineBreaks" placeholder="سبب قبول الطلب" rows="3" maxlength="400"
      #replyNote></textarea>
      <!-- <mat-hint>عدد الاحرف يجب ان لا يزيد عن 400 حرف</mat-hint> -->
      <mat-hint>400/{{replyNote.value?.length || 0}}</mat-hint>
    </mat-form-field>
  </div>
  <div mat-card-footer>
    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">موافق</button>
    &nbsp;
    <button mat-raised-button type="button" (click)="onCancel()">إلغاء</button>
  </div>
</form>
