<mat-card>
  <mat-card-content>
    <section class="screen">
      <section class="screen-header">
        <div fxLayout="row" fxFlex="70">
          <button mat-raised-button color="primary" (click)="openModal()">
            إضافة مستخدم
          </button>
        </div>
        <div fxFlex="30" fxLayoutAlign="end center">
        </div>
      </section>
      <section class="screen-table responsive-table extendable">
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
          <div class="free-search" fxFlex="25" fxLayout="row" fxLayoutAlign="center center">
            <form [formGroup]="searchForm">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true" floatLabel="always">
                <span matPrefix>
                  <mat-icon>search</mat-icon>
                </span>
                <input matInput placeholder="بحث" formControlName="searchText" (keyup)="applyFilter()"
                  autocomplete="off">
              </mat-form-field>
            </form>
          </div>
          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="currentPage"
            showFirstLastButtons [pageSize]="PAGE_SIZE" (page)="onPageChange($event.pageIndex)" hidePageSize="true"
            fxFlex="60">
          </mat-paginator>
        </div>

        <table mat-table [dataSource]="dataSource.filteredData | getPageData :PAGE_SIZE:currentPage"
          multiTemplateDataRows matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef style="width:100px;">#</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex">
              <div>
                {{(i + 1 + PAGE_SIZE * (currentPage))}}
                <button mat-icon-button (click)="onClickRow(i)">
                  <mat-icon color="primary">
                    {{ expandedIndexes.includes(i) ? 'keyboard_arrow_down': 'keyboard_arrow_left'}}
                  </mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="identityNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الهوية</th>
            <td mat-cell *matCellDef="let element"> {{element.identityNumber}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الاسم</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم المستخدم فى الدليل النشط</th>
            <td mat-cell *matCellDef="let element"> {{element.userName}}</td>
          </ng-container>

          <ng-container matColumnDef="roleGroup">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>مجموعة الادوار</th>
            <td mat-cell *matCellDef="let element"> {{element.roleGroup}} </td>
          </ng-container>

          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الفرع</th>
            <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="departmentsGroup">
            <th mat-header-cell *matHeaderCellDef>الإدارات التخصصية</th>
            <td mat-cell *matCellDef="let element"> {{element.departmentsGroup}} </td>
          </ng-container> -->

          <ng-container matColumnDef="enabled" style="max-width: 20px;">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الحالة</th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle [(ngModel)]="element.enabled" color="accent" (change)="onChange($event,element.id)">
                <span *ngIf="element.enabled">مفعل</span>
                <span *ngIf="!element.enabled">معطل</span>

              </mat-slide-toggle>
            </td>
          </ng-container>

          <!-- Star Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #profile="matMenu">
                <button mat-menu-item [routerLink]="['view',element.id]" routerLinkActive="router-link-active"
                  matTooltip="عرض" matTooltipPosition="above">
                  عرض
                </button>
                <span [matTooltip]="element.enabled ? 'تعديل' : 'لا يمكن تعديل المستخدم المعطل'"
                  matTooltipPosition="above">
                  <button mat-menu-item color="primary" [routerLink]="['/users/edit',element.id]"
                    [disabled]="!element.enabled">
                    تعديل
                  </button>
                </span>
                <button mat-menu-item color="warn" (click)="onDelete(element.id)" matTooltip="حذف"
                  matTooltipPosition="above">
                  حذف
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="userDetails">
            <td mat-cell *matCellDef="let element" class="borderless-td" [attr.colspan]="columnsToDisplay.length">
              <div fxLayout="row wrap" fxFlexAlign="center" class="p-10 filter-container">
                <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100">
                  <span>المسمى الوظيفي</span>
                  <span>{{ element.jobTitle }}</span>
                </div>
                <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100">
                  <span> تاريخ الإضافة</span>
                  <span>{{element.createdOn | date : 'yyyy-MM-dd'}}
                    {{element.createdOn |arDayOfWeek }}
                    {{ element.createdOnHigri }}</span>
                </div>
              </div>
              <div fxLayout="row wrap" fxFlexAlign="center" class="p-10 filter-container">
                <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100">
                  <span>البريد الالكترونى</span>
                  <span>{{ element.email }}</span>
                </div>

                <div fxLayout="column" fxFlex.gt-sm="50" fxFlex="100">
                  <span>صورة التوقيع </span>
                  <span *ngIf="element.signature" class="user-signature">
                    <img [src]="element.signature" onError="this.src='../../../../../assets/images/empty.png';">
                  </span>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; let i = dataIndex; columns: expandedDetail"
            [class.shrink-row]="expandedIndexes.length == 0 || !expandedIndexes.includes(i)" class="expanded-row"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9" style="text-align: center;">لا يوجد نتائج للبيانات.</td>
          </tr>
        </table>

        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="currentPage"
          showFirstLastButtons [pageSize]="PAGE_SIZE" (page)="onPageChange($event.pageIndex)" hidePageSize="true">
        </mat-paginator>

      </section>

    </section>
  </mat-card-content>
</mat-card>
